@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


::-webkit-scrollbar{
    width: 0;
}

body {
    min-height: 100vh;
    color: #2e2e2e;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

 /* الخلفيه الجزء العلوي */
.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    padding:30px 0;
    display: flex;
}
@media (min-width:768px) {
    .wrapper {
        height:50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #2e2e2e;
       
    }
}
.wrapper .screen{
    flex: 1;
    min-width: 100%;
    transition: all 0.3s;
}

.wrapper.show-category .home-screen{
    transform: translateX(-100%);
}

.wrapper.show-category .category-screen{
    transform: translateX(-100%);
}

.wrapper.show-category .screen-backdrop{
    transform: translate(100);
}

.screen-backdrop {
    position: absolute;  /* or fixed if you want it always visible */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;        /* full width of parent */
    height: 100vh;      /* full viewport height on phone */
    z-index: -1;
    border-radius: 0;   /* optional, remove curve */
    
    /* Animated gradient */
    background: linear-gradient(90deg, #4158d0, #e560dc, #ffb374, #ef5f5f, #d840b6);
    background-size: 400% 400%; /* controls how big the gradient is */
    animation: bg 20s ease infinite;
}


@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.head-warpper {
    padding:0 30px;
}

.menu-btn {
    width: 2rem;
    cursor: pointer;
    color: #2e2e2e;
}

.welcome {
    display: flex;
     justify-content: flex-end;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
     text-align: right;
}

.welcome p {
    font-weight: 500;
     text-align: center;
     margin-top: 0.7rem;
     
}

.welcome .img{
    position: absolute;
     left: 20px; /* move 10px to the right */
}

.welcome .img img{
    width:5rem;
}

.welcome .img .backdrop{
    position: absolute;
    top: 5px ;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4.5rem;
    border-radius: 10%;
    background-color: #fdfbe5;
    z-index:-1;
}

.categories-wrapper {
    margin-top: 5rem;
    height: calc(100% - 8rem);
    padding: 0 30px;
    padding-bottom: 20px;
    overflow: visible;
    height: auto;
     
}


.catoegories {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories .category {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 0.9rem 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;
    margin-bottom: 1rem;

    
}

.categories .category:hover{
  
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 10px 20px 5px #00000040;
    transition: 1s;
    margin-bottom: 2rem; /* space below each category */



}


.category .left{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.category .left img{
    width: 3rem;
}

.category .content h1 {
    font-size:1.5rem;
}

.category .content p{
    color: #2e2e2e;
    font-size: 0.8rem;
    opacity: 0.6;
}

.category .options {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.category:hover .options{
    opacity: 1;
    visibility: visible;
}
.category .toggle-btn {
    width: 2rem;
    cursor: pointer;
    opacity: 0.6;
}


/* tasks screen */
.category-screen .head-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.category-screen .head-wrapper svg {
    width:2rem;
    cursor:pointer;
    color: #2e2e2e;
}

.category-details {
    padding: 0 30px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.category-details img {
    width: 4rem;
}

.category-details .details p {
    opacity: 0.6;
}

/* tasks */
.tasks-wrapper{
    padding: 0 30px;
    margin-top: 1rem;
    height:calc(100% -12rem);
    padding-bottom: 20px;
    overflow: auto;
    
}

.no-task{
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.6;
}

.tasks {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-height: 25rem;   /* set a maximum height for the task list */
    overflow-y: auto;    /* allow vertical scrolling if content exceeds height */
}


.task-wrapper {
    
    display: flex;
    align-items: center;
    justify-content: space-between; /* push delete button to the right */
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.task {
    
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
}

.task input {
    display: none;
    
}

.task .checkmark {
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 1;

}

.task .checkmark svg {
    width: 1rem;
    color: #2e2e2e;
    opacity: 0;
    transition: all 0.3s;
}

.task:hover .checkmark svg {
    opacity: 1;
}    

.task .checkmark svg path {
    stroke-width: 3;
}

.task input:checked~.checkmark  {
    background-color: #26e400;
}

.task input:checked~.checkmark svg {
    opacity: 1;
    color: #fff;
}

.task input:checked~p {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-wrapper .delete {
    order: -1;
    min-width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0%;
    color: #2e2e2e;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.031);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.task-wrapper:hover .delete {
    visibility: visible;
    opacity: 1;
}

.task-wrapper .delete:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
}

/*add task */
.add-task-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9ea85;
    transition: all 0.3;
}

.add-task-btn.active{
    z-index: 1;
    bottom: 20rem;
    transform: rotate(45deg);
}

.add-task-btn:hover {
    transform: scale(1.1);

}



.add-task-btn svg {
    width: 2rem;
    color: #000000;
}

.add-task {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    transition: all 0.3s;
}

.add-task.active {
    bottom: 0;
}

.add-task .heading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.input-group{
    position: relative;
    margin-bottom: 20px;
}

.input-group input,
.input-group label {
    display: black;
    width: 100%;
}

.input-group input,
.input-group select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.input-group label {
    width: max-content;
    padding: 0 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.btns {
    
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.btns button {
    z-index:2;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}



.btns button.add-btn {
    background-color: #f9ea85;
    color: #2e2e2e;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btns button.add-btn:hover {
    background-color: #ffd000;  /* brighter on hover */
    transform: scale(1.05);      /* slightly bigger */
}

.add-task-backdrop {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 20rem;
    border-radius: 50% 50% 0 0;
    background-color: #fff;

    border: 6px solid black; /* thick black border */
}


.black-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000023;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.black-backdrop.active {
    opacity: 1;
    visibility: visible;
}